---
import { Image } from 'astro:assets';
import Layout from '../components/Layout.astro';
import Form from '../components/Form.astro';
import Logos from '../components/Logos.astro';
import Headshot from '../assets/images/crimson.jpg';
import Services from '../components/Services.astro';
---

<Layout>
	<section id="jumbotron" class="md:flex md:flex-1 gap-10">
		<div class="hover:scale-110 hover:rotate-2 transition-all md:order-last mb-8 text-center">
			<Image
				src={Headshot}
				alt="Colonel Crimson R. MacDonald"
				class="inline-block rounded-full border-8 border-gray-300 dark:border-white max-w-60"
			/>
		</div>
		<div class="text-left">
			<h2 class="text-3xl font-bold tracking-tight sm:text-6xl dark:text-yellow-200 dark:drop-shadow-xl">
				Not your traditional consultant
			</h2>
			<p class="mt-6 mb-10 text-lg leading-8 dark:text-white">
				My life's work has been diverse. For nearly 20 years, I have predicted human behavior through deductive
				analysis. I was trained in Political Science at the University of Kentucky where I attained a Master of
				Arts degree with an emphasis on political behavior and research methodology. I am the former chair of
				the Democratic Party and a certified Kentucky Colonel. I like to use data to help consumers and voters
				make more informed decisions.
			</p>
			<Form />
		</div>
	</section>
	<Services />
	<Logos />
</Layout>
