---

---

<form action="https://api.web3forms.com/submit" method="POST" class="w-full max-w-md lg:col-span-5 lg:pt-2">
	<input type="hidden" name="access_key" value="d951d67b-a6d0-4cdf-a884-b013ba4c52ea" />
	<div class="flex gap-x-4">
		<label for="email-address" class="sr-only">Email address</label>
		<input
			id="email-address"
			name="email"
			type="email"
			autocomplete="email"
			required
			class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
			placeholder="Enter your email"
		/>
		<button
			type="submit"
			class="flex-none rounded-md bg-sky-600 dark:bg-yellow-200 px-3.5 py-2.5 text-sm font-semibold text-white dark:text-gray-800 shadow-sm hover:bg-sky-500 dark:hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
		>
			Subscribe
		</button>
	</div>
	<p class="mt-4 text-sm leading-6 text-gray-900 dark:text-gray-300">
		We care about your data. Read our <a
			href="#"
			class="font-semibold text-sky-600 dark:text-yellow-200 hover:text-sky-500 dark:hover:text-yellow-500"
		>
			privacy&nbsp;policy
		</a>.
	</p>
</form>
