---
import Logo from '../assets/svgs/cmac.svg?raw';
---

<header class="bg-gray-100 dark:bg-gray-900">
	<nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
		<div class="flex flex-1">
			<a
				href="/"
				style="width: 230px"
				class="-m-1.5 block p-1.5 logo text-sky-700 hover:text-gray-600 dark:text-white dark:hover:text-yellow-100 hover:scale-110 transition-all dark:drop-shadow-xl"
			>
				<span class="sr-only">Crimson MacDonald</span>
				<Fragment set:html={Logo} />
			</a>
		</div>

		<div class="flex flex-1 justify-end gap-10">
			<a
				href="https://www.linkedin.com/in/crimsoncunningham/"
				class="text-gray-400 hover:text-gray-600 dark:text-yellow-100 dark:hover:text-yellow-500 hover:scale-150 transition-all"
			>
				<i class="text-2xl fa-brands fa-linkedin"></i>
			</a>
			<a
				href="/contact"
				class="text-gray-400 hover:text-gray-600 dark:text-yellow-100 dark:hover:text-yellow-500 hover:scale-150 transition-all"
			>
				<i class="text-2xl fa-solid fa-envelope"></i>
			</a>
			<a
				href="tel://8596537184"
				class="text-gray-400 hover:text-gray-600 dark:text-yellow-100 dark:hover:text-yellow-500 hover:scale-150 transition-all"
				rel="nofollow noreferrer noindex"
			>
				<i class="text-2xl fa-solid fa-phone"></i>
			</a>
			<a
				href=""
				id="themeToggle"
				class="text-gray-400 hover:text-gray-600 dark:text-yellow-100 dark:hover:text-yellow-500 hover:scale-150 transition-all"
			>
				<i class="text-2xl fa-solid fa-circle-half-stroke"></i>
			</a>
		</div>
	</nav>
</header>
