---
import Section from './Section.astro';
import Form from '../components/Form.astro';
import { Image } from 'astro:assets';
import Headshot from '../assets/images/crimson.jpg';
---

<Section>
	<div class="md:flex md:flex-1 gap-8">
		<div class="hover:scale-110 hover:rotate-2 transition-all md:order-last text-center mb-8">
			<Image
				src={Headshot}
				alt="Colonel Crimson R. MacDonald"
				class="inline-block rounded-full border-8 border-gray-300 dark:border-white max-w-60 lg:max-w-80"
			/>
		</div>
		<div class="text-center md:text-left">
			<h2 class="text-3xl font-bold tracking-tight sm:text-6xl dark:text-yellow-200 dark:drop-shadow-xl">
				Not your traditional consultant.
			</h2>
			<p class="mt-6 mb-16 text-lg leading-8 dark:text-white">
				I studied Political Science at the University of Kentucky. In the 20 years since, I have predicted human
				behavior through deductive analysis. From marketing to politics, I've helped brands and candidates make
				more informed decisions. Understanding human behavior is the key in persuading voters and consumers
				alike.
			</p>
			<Form />
		</div>
	</div>
</Section>
